.custom-pagination {
  position: relative;
  bottom: 20px;
  text-align: center;
  margin-top: 20px;
}

.custom-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #303030;
  opacity: 0.5;
  margin: 0 5px;
  transition: opacity 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #cfcdcd;
}
